.cell-label {
  @extend .p-3, .text-uppercase, .font-weight-bold, .text-left, .small, .text-dark;
  &:hover {
    a {
      color: var(--primary);
    }

    svg {
      fill: var(--primary);
      transform: rotate(180deg);
    }
  }

  a {
    @extend .transition, .d-inline-block, .w-100;
    color: inherit;
  }
}

.cell-label--asc,
.cell-label--desc {
  @extend .font-weight-bold;
}

.cell-label__sort-indicator {
  @extend .float-right, .ml-1;
  float: right;

  svg {
    @extend .text-secondary, .transition;
    height: 1rem;
    width: 1rem;
  }
}

.cell-label__sort-indicator--desc {
  transform: rotate(180deg);
}

.cell-data {
  @extend .p-3;
}

.cell-data--number,
.cell-label--number {
  @extend .text-right;
}

.cell-data--image-field {
  a {
    @extend .d-inline-block, .p-2;
    width: 3rem;
    background: $image-bg;
    img {
      @extend .my-0, .mx-auto;
    }
  }
}
