.field-unit {
  @include administrate-clearfix;
  @extend .mb-3;
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
}

.field-unit__label {
  @extend .float-left, .ml-2, .text-right;
  width: calc(15% - 1rem);
  label {
    margin-bottom: 0 !important;
  }
}

.field-unit__field {
  @extend .float-left, .ml-3;
  width: 45%;
  select {
    @extend .form-control;
  }
}

.field-unit__error-notice {
  @extend .text-danger, .mb-2, .d-block;
  margin-left: calc(15% + 2rem);
}

.field-unit--nested {
  @extend .p-3, .border, .border-dark, .w-50;
  margin-left: 7.5%;

  .field-unit__field {
    width: calc(75% - 1rem);
  }

  .field-unit__label {
    width: calc(25% - 1rem);
  }
}

.field_with_errors {
  input,
  textarea,
  select {
    @extend .border, .border-danger;
  }
}
