.field-unit {
  @include administrate-clearfix;
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
}

.field-unit__label {
  @apply float-left ml-4 text-right;
  width: calc(15% - 1rem);
  label {
    margin-bottom: 0 !important;
  }
}

.field-unit__field {
  @apply float-left ml-8;
  width: 45%;
  select {
    @extend .form-control;
  }
}

.field-unit__error-notice {
  @apply text-danger mb-6 block;
  margin-left: calc(15% + 2rem);
}

.field-unit--nested {
  @apply p-3 border border-gray-400 w-1/2;
  margin-left: 7.5%;

  .field-unit__field {
    width: calc(75% - 1rem);
  }

  .field-unit__label {
    width: calc(25% - 1rem);
  }
}

.field_with_errors {
  input,
  textarea,
  select {
    @apply border border-danger;
  }
}
