.navigation {
  @extend .bg-light, .p-4;
  flex: 1 0 14rem;
}

.navigation__link {
  @extend .px-3, .py-2, .transition, .d-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:not(:last-of-type) {
    @extend .mb-3;
  }

  &:hover,
  &:focus,
  &:active,
  &--active {
    @extend .bg-medium, .rounded, .text-primary, .font-weight-bold;
  }
}
