$_search-icon-size: 1rem;

.search {
  @apply flex items-center;
  margin-left: auto;
  margin-right: 2rem;
  max-width: 20rem;
  position: relative;
  width: 100%;
}

.search__input {
  @apply appearance-none block w-full bg-white border-gray-300 text-gray-900 border py-2 px-4 rounded cursor-pointer;
  padding-left: $_search-icon-size * 2.5;
  padding-right: $_search-icon-size * 2.5;
}

.search__eyeglass-icon {
  @apply fill-current;
  color: var(--gray-400);
  height: $_search-icon-size;
  left: $_search-icon-size;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: $_search-icon-size;
}

.search__clear-link {
  height: $_search-icon-size;
  position: absolute;
  right: $_search-icon-size * 0.75;
  top: 50%;
  transform: translateY(-50%);
  width: $_search-icon-size;
}

.search__clear-icon {
  @apply fill-current text-gray-400;
  height: $_search-icon-size;
  position: absolute;
  transition: fill $base-duration $base-timing;
  width: $_search-icon-size;

  &:hover {
    @apply fill-current text-primary;
  }
}
