fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  @extend .font-weight-bold, .m-0, .p-0;
}

label {
  @extend .font-weight-bold, .m-0, .d-block;
}

input,
select {
  @extend .d-block;
}

input,
select,
textarea {
  @extend .d-block;
}

[type="color"],
[type="date"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
input:not([type]),
textarea {
  @extend .border, .rounded;
  appearance: none;
  background-color: $white;
  padding: 0.5em;
  width: 100%;
  &:focus {
    @extend .border-primary;
    outline: none;
  }

  &:disabled {
    @extend .bg-light;
    cursor: not-allowed;

    &:hover {
      @extend .border, .border-primary;
    }
  }

  &::placeholder {
    font-style: italic;
  }
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  @extend .mr-3, .d-inline;
}

[type="file"] {
  width: 100%;
}

select {
  width: 100%;
}

[type="checkbox"],
[type="radio"],
[type="file"],
select {
  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }
}
