.card {
  overflow: hidden;
  &-image {
    background-position: center;
    background-size: cover;
    height: 10rem;
  }
  &--link {
    @extend .transition;
    color: $body-color;
    &:hover {
      @include box-shadow($primary);
      color: $primary;
    }
  }
  &-body {
    &--pricing {
      &-head {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 12rem;
      }
      &-body {
        overflow: scroll;
        height: 20rem;
      }
      &-footer {
        height: 4rem;
      }
    }
  }
}
